<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block head_title %}{% endblock %}</title>
  {% load staticfiles %}
  {% load i18n %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{%  static 'images/favicon.png' %}"/>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
 <!-- Bootstrap CSS CDN -->

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style5.css' %}">

  {% block extra_head %}
  {% endblock %}
</head>
    <body>
        <div class="wrapper">
        {% if user.is_authenticated %}
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="{% url 'home' %}"><h3>WorldLink</h3></a>
                </div>
                <ul class="list-unstyled components">
                  <li><a href="{% url 'home' %}">HOME</a></li>
                    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                    <li><a href="{% url 'account_logout' %}"">Sign Out</a></li>
                    <li><a href="{% url 'contact' %}">CONTACT US</a></li>
                </ul>
            </nav>
        
            {% else %}

            <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="{% url 'home' %}"><h3>WorldLink</h3></a>
                </div>
                <ul class="list-unstyled components">
                  <li><a href="{% url 'home' %}">HOME</a></li>
                    <li><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'contact' %}">CONTACT US</a></li>
                </ul>
            </nav>
            
            {% endif %}

            <div id="content">
                {% if user.is_authenticated %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search' %}">
                      <div class="form-group">
                          <input id="search_box" type="text" class="form-control" name="q" placeholder="Search">
                      </div>
                      <button id="search_submit" type="submit" class="btn btn-default">Search</button>
                </form>
                        </div>
                    </div>
                </nav>
                    
                    {% else %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </nav>
                    
                    {% endif %}
                

                <br>
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                        <strong>Message : </strong>{{message}}<br>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="container">
                {% block content %}
                {% endblock %}
                </div>
            <div class="container">
            {% block extra_body %}
            {% endblock %}
            </div>

            </div>

            <!-- Page Content Holder -->


        </div>

        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebar').hide();
                 $('#sidebarCollapse').toggleClass('active');
                 $('#sidebar').toggleClass('active');
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                     $('#sidebar').show();
                 });
             });
         </script>
    </body>
</html>
