{% extends 'worldlink/base.html' %}
{% load staticfiles %}

{% block content %}
  <style>
    #image-container {
      display: flex;
    }
  </style>
  <br><br>
  <script>


  </script>
<div style="width: 1040px">
  <div>
    <input type="file" id="file" />
  </div>
  <div id="image-container">
    <canvas width="500" height="500"></canvas>
    <div>
      <span>Top Line:</span><br/>
      <input id="topLineText" type="text"><br/>
      <span>Bottom Line:</span><br/>
      <input id="bottomLineText" type="text"><br/>
      <!--<button id="saveBtn">Save</button>-->
      <br\><br\>
      <a href="#" class="btn btn-default button" id="btn-download" download="meme.png">Download</a>
    </div>
  </div>
    </div>
  <script>
    function textChangeListener (evt) {
      var id = evt.target.id;
      var text = evt.target.value;

      if (id == "topLineText") {
        window.topLineText = text;
      } else {
        window.bottomLineText = text;
      }

      redrawMeme(window.imageSrc, window.topLineText, window.bottomLineText);
    }

    function redrawMeme(image, topLine, bottomLine) {
      // Get Canvas2DContext
      var canvas = document.querySelector('canvas');
      var ctx = canvas.getContext("2d");
      if (image != null)
        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

      // Text attributes
      ctx.font = '30pt Impact';
      ctx.textAlign = 'center';
      ctx.strokeStyle = 'black';
      ctx.lineWidth = 3;
      ctx.fillStyle = 'white';

      if (topLine != null) {
        ctx.fillText(topLine, canvas.width / 2, 40);
        ctx.strokeText(topLine, canvas.width / 2, 40);
      }

      if (bottomLine != null) {
        ctx.fillText(bottomLine, canvas.width / 2, canvas.height - 20);
        ctx.strokeText(bottomLine, canvas.width / 2, canvas.height - 20);
      }
    }

    function saveFile() {
      //window.open(document.querySelector('canvas').toDataURL());
      var dataURL = document.querySelector('canvas').toDataURL();
      console.log(document.querySelector('canvas').toDataURL());
      $.ajax({
        type: "POST",
        url: '/ajax/save_image/',
        data: {
          'dataURL': dataURL,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }
      }).done(function(o) {
        console.log(o.success);
      });
    }

    function handleFileSelect(evt) {
      var canvasWidth = 500;
      var canvasHeight = 500;
      var file = evt.target.files[0];



      var reader = new FileReader();
      reader.onload = function(fileObject) {
        var data = fileObject.target.result;

        // Create an image object
        var image = new Image();
        image.onload = function() {

          window.imageSrc = this;
          redrawMeme(window.imageSrc, null, null);
        }

        // Set image data to background image.
        image.src = data;
        console.log(fileObject.target.result);
      };
      reader.readAsDataURL(file)
    }

    window.topLineText = "";
    window.bottomLineText = "";
    var input1 = document.getElementById('topLineText');
    var input2 = document.getElementById('bottomLineText');
    input1.oninput = textChangeListener;
    input2.oninput = textChangeListener;
    document.getElementById('file').addEventListener('change', handleFileSelect, false);
    //document.querySelector('button').addEventListener('click', saveFile, false);
    var button = document.getElementById('btn-download');
    button.addEventListener('click', function (e) {
      var dataURL = document.querySelector('canvas').toDataURL('image/png');
      button.href = dataURL;
  });
  </script>
{% endblock %}